.mainPage{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.top-box {
    background-color: rgba(249, 246, 244,0.8);
    position: absolute;
    left: 4vw;
    top: 3vw;
    width: 73vw;
    height: 7vw;
    border-radius:1vw ;
}

.bottom-box {
    background-color: rgba(246, 249, 250,0.8);
    position: absolute;
    left: 4vw;
    top: 12vw;
    width: 73vw;
    height: 28vw;
    overflow-y: scroll;
    border-radius:1vw ;
}

.bottom-box::-webkit-scrollbar{
    width: 0;
}

.input {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.6vw;
    height: 4vw;
    width: 24vw;
    border-radius: 1vw;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    outline: 0;
    text-decoration: none;
    position: absolute;
    left:3.3vw;
    top:1.5vw;
}

input:focus,input:hover {
    border: 0.1vw solid #ff7496;
}

#regionSubmit{
    position: absolute;
    top:1.7vw;
    left:30vw;
    width: 8vw;
    height:3.6vw;
    font-size: 1.7vw;
    border-radius: 1vw;
    opacity: 0.7;
    border-width: 0.5px;
}

#regionResult{
    color:black;
    text-shadow: 0.15vw 0.15vw violet;
    font-size: 2vw;
    position: absolute;
    top: 3vw;
    left:4vw;
}

#historyButton{
    position: absolute;
    top:1vw;
    left:4vw;
    font-size: 1.25vw;
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
}

#historyButton:hover{
    border: 0.1vw solid black;
}

.history-box{
    position: absolute;
    width: 73vw;
    height:37vw;
    top:3vw;
    left:4vw;
    background-color: rgb(249, 246, 239);
    /* border: 1px solid black; */
    border-radius: 2vw;
    box-shadow: 2px 2px black;
    display: none;
    font-size: 1.3vw;
    color:#919397;
    padding:0.4vw 0.8vw;
}

#history{
    position: absolute;
    width: 73vw;
    height:35vw;
    top:0vw;
    overflow-y: scroll;
}

#history::-webkit-scrollbar{
    width:0vw;
}

#hide{
    position: absolute;
    width: 73vw;
    height:2vw;
    top:35vw;
    color:cornflowerblue;
    text-align: center;
    cursor: pointer;
}

#hide:hover{
    color: blue;
}